# Discord Credentials
DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=

# Database Configuration (MongoDB connection string)
DATABASE_URL="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<db_name>?retryWrites=true&w=majority"

# Game Settings
PORT=3000
NODE_ENV=development
